
@font-face {
    font-family: 'SeoulHangang CBL';
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/seoulhangangcondensed/SeoulHangangCondensed-Medium.ttf);
}

body{
    font-family: 'SeoulHangang CBL';
    height: 200vh;
}

/**/
.popup{
    width: 820px;
    height: 674px;
    font-size: 10px;
    position: fixed;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 25%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.left-img {
    width: 50%;
    height: 100%;
    background-image: url(./assets/img/villa.jpg);
    background-position: center;
    background-size: cover;
}
.popup div{
    width: 50%;
    float: left;
}
.popup div:last-of-type{
    text-align: center;
    margin-top: 6rem;
}
.popup div:last-of-type img{
    width: 205px;
}

.popup div:last-of-type h2, .popup div:last-of-type h3, .popup div:last-of-type button{
    text-transform: uppercase;
}

.popup div:last-of-type h2{
    font-size: 6em;
    /*ACHTUNG!!!! Alles außer Fonts holen sich mit em die größe der Schrift aus der selben Hirarchie*/
    margin: 0.2em 0;
}
.popup div:last-of-type h3{
    font-size: 2em;
}
.popup div:last-of-type button{
    font-size: 1.6em;
    font-family: 'SeoulHangang CBL';
    background-color: black;
}
.popup div:last-of-type a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .5rem 3rem;
}

.popup .close-btn{
    position: absolute;
    right: 0;
    top: 0;
    background-color: unset;
    font-size: 2rem;
    border: none;
}